@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --primary-color:#cac3db;

    ---modal-duration:1s;
}
*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato',sans-serif;
    margin:0;
    transition: transform 0.3s ease;
    background-color: #edf0f2;
}

body.show-nav{
    /*Width of the nav */
    transform: translate(200px);
}

nav{
    border-bottom: 2px solid rgba(200,200,200,0.1);
    color:rgb(38, 37, 37);
    position:fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);
    
}

nav .logo img{
    position: absolute;
    left: 130vh;
    bottom:89vh;
    height: 50px;
    width: 100px;
}


nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
   
}

nav ul li{
    
    border-bottom: 2px solid rgb(107, 157, 249);
    margin-top: 50px;
    padding: 10px;
}

nav ul li:first-of-type{
    border-top: 2px solid rgba(200,200,200,0.1);
    
}

nav ul li a{
    color: rgb(38, 37, 37);
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

header{
    font-size: 130%;
    position: relative;
    padding: 40px 15px;
    text-align: center;
   
    
}

header h1.find{
    display: block;
    position:absolute;
    transform: rotate(-90deg);
    top: 37vh;
    left: 0;
    margin: 0;
}
header h1.survive{

    position:absolute;
    display: block;
    left: 30vh;
    top: 10vh;
   font-size: 370%;
   color: rgb(247, 10, 50);
}

header img{
    position: absolute;
    right: 70vh;
    top:13vh;
    width: 500px;
    height: 350px;
}

header p{
    position: absolute;
    top: 60vh;
    left: 20vh;
    margin: 30px 0;
    font-size: small;
}

button,input[type='submit']{
    background-color:var(--primary-color);
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
    height: 40px;
    
}

button:focus{
    outline: none;
}

.toggle {
    background-color:rgba(0,0,0,0.3);
    position:absolute;
    top: 10px;
    left: 20px;
    border: 1px solid rgb(13, 43, 108);
}

.cta-btn {
    position: absolute;
    left: 210vh;
    bottom: 20vh;
    margin-top: 0;
    font-size: 20px;
    border: 1px solid rgb(13, 43, 108);
}

.btn1 {
    position: absolute;
    left: 173vh;
    bottom: 20vh;
    margin-top: 0;
    font-size: 20px;
    width: 200px;
    border: 1px solid rgb(13, 43, 108);
}

.modal-container{
    background-color: rgba(0,0,0,0.6);
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal-container.show-modal{
    display: block;
 }
 
 .modal{
     background-color: white;
     border-radius: 5px;
     box-shadow: 0 0 10px rhba(0,0,0,0.3);
     position: absolute;
     overflow: hidden;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     max-width: 100%;
     width: 400px;
     animation-name:modalopen;
     animation-duration: var(---modal-duration);
 
 }
 
 .modal-header{
     background: var(--primary-color);
     color: white;
     padding: 15px;
 }
 
 .modal-header h3{
     margin:0;
     border-bottom: 1px solid #333;
 }
 
 .modal-content{
     padding:20px;
 }
 
 .modal-form div{
     margin: 15px 0;
 }
 
 .modal-form label{
     display: block;
     margin-bottom: 5px;
 }
 
 .modal-form .form-input{
  padding: 8px;
  width: 100%;
 }
 
 .close-btn {
     background: transparent;
     font-size: 25px;
     position: absolute;
     top: 0;
     right: 0;
 }
 
 @keyframes modalopen{
     from{
         opacity: 0;
     }
     to{
         opacity: 1;
     }
 }

  .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    left: 70vh;
    top: 30vh;
    display: inline-block;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }