

.bcolor1 {
    /* background-image: linear-gradient(to right, #ff832bd1, #ff416c); */
    background-image: url("../Images/loginForm4.jpg");
}

.bcolor2 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.pagecontainer {
    border: 4px solid white;
    margin: 1rem 14rem 2rem 14rem;
    height: 33rem;
    display: flex;
    border-radius: 25px;
}

.container-1 {
    border: 1px;
    border-radius: 8px;
    height: 83.5vh;
    width: 62vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container-2 {
    border: 2px;
    border-radius: 8px;
    width: 69vw;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content: center;
    align-items: center;
}


h1.heading {
    color: white;
    margin-bottom: 17px;
    margin-left: 25px;
}

h1.form-heading {
    text-align: center;
 
}
p {
    text-align: center;
    margin: 13px 5px 15px 5px;
}

.pre {
    color: white;
    margin: 5px 11px 0px 3px;
    text-align: center;

}



.none {
    display: none;
    transition: all 5s ease-in;
    transform: rotate(5deg);
    transform: translate(100%);
}

.social-plattforms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    height: 60px;
    width: 60px;
    cursor: pointer;
    margin: 6px;
}

input:focus {
    outline: none;
}


input[type="checkbox"] {
    height: 14px;
    width: 14px;
    margin: 4px 0px 15px 35px;
}

input[type="radio"] {
    margin: 13px;
}

input[type="submit"] {
    padding: 10px 36px 13px 32px;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    left: 56px;
    cursor: pointer;
}

#login,
#newac {
    border-style: none;
    display: flex;
    margin-left: 120px;
    /* background-color: #f7573ed1; */
    background-color: #48abf1d1;
    color: white;
}

#sign,
#signup {
    background-color: #f4ff4891;
    border: white;
    color: white;
    margin: 25px 0px 0px 5px;
}

input.signup:hover,
input.login:hover {
    transition: all 0s ease-in;
    transform: rotate(1deg);
    transform: translate(10% 10%);
    /* box-shadow: 2px 10px blue; */
}

input[type="password"],
input[type="text"],
input[type="email"] {
    display: block;
    /* margin-left: 115px;
    padding: 16px 32px 16px 19px; */
    margin: 15px 120px;
    padding: 16px 32px 16px 19px;
    border-radius: 25px;
    border-color: rgb(245 194 183);
    border: none;
    border-bottom: 2px solid rebeccapurple;
}  


input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus {
    transition: all 0.3s ease-in;
    border: 2px solid #03a9f48a;
    padding: 16px 62px 16px 19px;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .container-1 {
        width: 44vw;
    }
    .container-2 {
        width: 52vw;
    }
    .pagecontainer{
        margin: 1rem 0rem 2rem 0rem;
    }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
    .container-1 {
        width: 44vw;
    }
    .container-2 {
        width: 52vw;
    }
    .pagecontainer{
        margin: 1rem 0rem 2rem 0rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .container-1 {
        width: 44vw;
    }
    .container-2 {
        width: 52vw;
    }
    .pagecontainer{
        margin: 1rem 3rem 2rem 3rem;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .container-1 {
        width: 50vw;
    }
    .container-2 {
        width: 58vw;
    }
    .pagecontainer{
        margin: 1rem 6rem 2rem 6rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media  (min-width: 1200px) {
    .container-1 {
        width: 55vw;
    }
    .container-2 {
        width: 65vw;
    }
    .pagecontainer{
        margin: 1rem 8rem 2rem 8rem;
    }
}

@media  (min-width: 1300px) {
    .container-1 {
        width: 62vw;
    }
    .container-2 {
        width: 69vw;
    }
    .pagecontainer{
        margin: 1rem 14rem 2rem 14rem;
    }
}
